pipeline/PL_Child_Load.json
{
	"name": "PL_Child_Load",
	"properties": {
		"activities": [
			{
				"name": "LKUP_MAX_VALUE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\nFROM @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Source",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "@pipeline().parameters.TableSchema",
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "IF_New_Data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_MAX_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\r\nequals(pipeline().parameters.LastLoadValue,null),\r\ngreater(\r\nstring(activity('LKUP_MAX_VALUE').output.firstRow.MaxValue),\r\nstring(pipeline().parameters.LastLoadValue)\r\n)\r\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CPY_SQL_TO_ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "@concat(\n'SELECT * FROM ',\npipeline().parameters.TableSchema,'.',\npipeline().parameters.TableName,\nif(\nequals(pipeline().parameters.LastLoadValue,null),\n'',\nconcat(\n' WHERE ',\npipeline().parameters.WatermarkColumn,\n' > ''',\npipeline().parameters.LastLoadValue,\n''''\n)\n)\n)",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_Source",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "@concat( pipeline().parameters.TableName,'/', formatDateTime(utcNow(),'yyyy/MM') )",
										"FileName": "@concat( pipeline().parameters.TableName,'_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet' )"
									}
								}
							]
						},
						{
							"name": "SP_Update_Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CPY_SQL_TO_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateWatermark]",
								"storedProcedureParameters": {
									"LastLoadValue": {
										"value": "@activity('LKUP_MAX_VALUE').output.firstRow.MaxValue",
										"type": "Int64"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableSchema": {
										"value": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SqlServer",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"LastLoadValue": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			}
		},
		"annotations": []
	}
}